<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  executionTimeout="300" />
  </system.web>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=114.33.29.143,11433;Integrated Security=False;User ID=sa;Password=pass@word1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Initial Catalog=m10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    
    
      <!--<gcAllowVeryLargeObjects enabled="true" />-->
    </runtime>
</configuration>