
@{
  ViewBag.Title = "Connect";
  Layout = "~/Views/Shared/_DhoeLayout.cshtml";
}

<div class="container">
  <h2><span style="font-weight: bold; color:#31708f;">相關連結</span></h2>
  <table class="table">
    <tbody>
      @{
        int i = 1;
      }
      @foreach (var item in ViewData["DataList"] as List<M10.lib.modeldhoe.Connect>)
      {
        { i++; }
        <tr class='@(i  % 2 == 0 ? "active" : "")'>
          <td></td>
          <td><a target="_blank" href="@item.link">@item.title</a></td>
        </tr>
      }
    </tbody>
  </table>
</div>