<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="M10AlertLRTI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <!--所有環境連線-->
    <add name="vghtc" connectionString="Data Source=192.168.1.100;Integrated Security=False;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Initial Catalog=m10" providerName="System.Data.SqlClient"/>
    <add name="DbHome" connectionString="Data Source=114.33.29.143,5228;Integrated Security=False;User ID=sa;Password=pass@word1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Initial Catalog=m10" providerName="System.Data.SqlClient"/>
    <add name="DbM10" connectionString="Data Source=.;Integrated Security=False;User ID=sa;Password=pass@word1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Initial Catalog=m10" providerName="System.Data.SqlClient"/>
    <add name="DbM10VPN" connectionString="Data Source=10.8.0.3;Integrated Security=False;User ID=sa;Password=pass@word1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Initial Catalog=m10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--預設連線-->
    <add key="DBDefault" value="DbM10VPN"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.55.0.0" newVersion="1.55.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.55.0.0" newVersion="1.55.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
