
@{
  ViewBag.Title = "ConferencePaper";
  Layout = "~/Views/Shared/_DhoeLayout.cshtml";
}

<div class="container">
  <h2><span style="font-weight: bold;color:#31708f;">研討會論文</span></h2>
  <table class="table">
    <tbody>
      @{
        int i = 1;
      }
      @foreach (var item in ViewData["DataList"] as List<M10.lib.modeldhoe.ConfPaper>)
      {
        { i++; }
        <tr class='@(i  % 2 == 0 ? "active" : "")'>
          <td>@item.date</td>
          <td>@item.content</td>
        </tr>
      }
    </tbody>
  </table>
  <br />
</div>

