
@{
    ViewBag.Title = "Experience";
    Layout = "~/Views/Shared/_DhoeLayout.cshtml";
}

<style type="text/css">
    .auto-style1 {
      width: 40%;
      height: 200px;
    }
</style>



<div class="container">


  <table style="width: 100%;" border="0">
    <tr>
      <td class="auto-style1">
        <h1><span style="font-weight: bold;">詹錢登特聘教授</span></h1>


        <br />
        <h1><span style="font-weight: bold;">Prof. Jan, Chyan-Deng</span></h1>
        <br />

        <br />
      </td>
      <td style="width: 60%" rowspan="3">
        <h3><span style="font-weight: bold;">現職</span></h3>
        國立成功大學總務長
        <br />

        國立成功大學水利及海洋工程學系 特聘教授
        <br />

        國立成功大學水土保持生態工程研究中心主任

        <br />
        <h3><span style="font-weight: bold;">學歷</span></h3>
        加州大學柏克萊分校土木工程系博士
        <br />
        國立臺灣大學土木工程學系(水利組) 碩士<br />
        國立臺灣海洋大學海洋學系(工程組) 學士<br />
        <h3><span style="font-weight:bold;">經歷</span></h3>
        美國環境及水資源學會會士<br />
        美國土木工程師學會會士<br />
        大學考試入學分發委員會分發組主任<br />
        中華防災學會第五屆理事長/榮譽理事長<br />
        國立成功大學水利及海洋工程學系主任<br />
        國立成功大學海洋科技與事務研究所所長<br />
        國立成功大學附設高工校務主任<br />
        國立成功大學防災研究中心系主任<br />
        國立成功大學推廣教育中心主任<br />
        美國地質調查所(USGS)加州Menlo Park分部客座研究員<br />
        加州大學柏克萊分校土木工程系博士後研究<br />
       
        <br />


      </td>
    </tr>
    <tr style="height: 300px;">
      <td>
        <br />
        <br />

        <img src="~/images/Professor.jpg" alt="Alternate Tex" width="380px" />

      </td>
      <td></td>
    </tr>
    @*<%--
    <tr style="height: auto;">
      <td style="vertical-align: text-top;">
        <br />
        Email：cdjan@mail.ncku.edu.tw
        <br />
        Phone：+886-6-2757575#63251
        <br />
        Location：4690 Dept. of Hydraulic & Ocean Engineering, National
        <br />
        Cheng Kung University
        <br />
        Address: No.1, University Road, Tainan 70101, Taiwan
        <br />
      </td>
      <td></td>
    </tr>--%>*@
  </table>



</div>

