<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

  <!--設定nlog無法執行記錄錯誤等級-->
  <!--internalLogLevel="Off"-->
  <!--internalLogLevel="Trace"-->
  <!--internalLogLevel="Debug"-->
  <!--internalLogLevel="Info"-->
  <!--internalLogLevel="Warn"-->
  <!--internalLogLevel="Error"-->
  <!--internalLogLevel="Fatal"-->
  
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="ProjectName" value="C10Mvc"/>
  
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="logfile" xsi:type="File" fileName="C:\temp\log\${ProjectName}\${shortdate}\debug.log"
        layout="${date}| ${level} | ${message} ${newline} ${exception:format=ToString}"/>
    <target name="logfileInfo" xsi:type="File" fileName="C:\temp\log\${ProjectName}\${shortdate}\Info.log"
        layout="${date}| ${level} | ${message} ${newline} ${exception:format=ToString}"/>  
    <target name="fatalfile" xsi:type="File" fileName="C:\temp\log\${ProjectName}\${shortdate}\fatal.log"
            layout="${date}| ${level} | ${message}"/>
    <target name="eventlog" xsi:type="EventLog" source="NLogLogger" log="Application"
            layout="${date}| ${level} | ${message}  "/>

    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="eswcrc.ncku@gmail.com"
            smtpPassword="201102201102"
            enableSsl="true"
            from="eswcrc.ncku@gmail.com"
            to="chris.lin.tw123@gmail.com"
            cc=""
            subject="[${machinename}]於 ${longdate} 發生 ${level} 錯誤。  "
            body="發生時間：${longdate} ${newline} 錯誤等級：${level:uppercase=true} ${newline} Logger：${logger} ${newline} 錯誤訊息：${message} ${newline} 例外訊息：${exception:format=ToString} ${newline}"
          />


    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Trace,Debug,Warn,Error" writeTo="logfile" />
    <logger name="*" levels="Info" writeTo="logfileInfo" />
    <logger name="*" level="Fatal" writeTo="fatalfile" />

    <logger name="*" levels="Error" writeTo="gmail" />

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
