
@{
    ViewBag.Title = "DhoeIndex";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<a href="/Professor/Professor">
  <div style="width:100%;padding:0px 0px 0px 0px;">

    <img src="images/index.jpg" class="img-rounded" alt="Cinque Terre" width="100%">



  </div>
</a>

