
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>StudentDetail</title>
  @Styles.Render("~/Content/css")
</head>
<body>

  @*<div>
    @ViewBag.name


</div>*@
<div class="container">
  <h5><span style="font-weight: bold; color: #31708f;">經歷</span></h5>
  <table class="table">
    <tbody>
      <tr class='active'>
        <td>
          國立成功大學水土保持生態工程研究中心 副研究員
        </td>
      </tr>
      <tr>
        <td>
          國立成功大學水利及海洋工程學系 博士後研究員
        </td>
      </tr>
      <tr class='active'>
        <td>
          國立成功大學水利及海洋工程學系 博士
        </td>
      </tr>
      <tr>
        <td>
          國立成功大學水利及海洋工程學系 碩士
        </td>
      </tr>

    </tbody>
  </table>
  <h5><span style="font-weight: bold; color: #31708f;">相關研究</span></h5>
  <table class="table">
    <tbody>
      <tr class='active'>

        <td>
          高桶式旋流漏斗排砂器水流特性及泥砂去除效率之研究
        </td>
      </tr>
      <tr>

        <td>
          Study on Flow Characteristics and Sediment Removal Efficiency of a Deep-Depth Vortex Chamber Type Sediment Extractor11
        </td>
      </tr>
      <tr class='active'>

        <td>
          高桶式旋流漏斗排砂器水流特性及泥砂去除效率之研究
        </td>
      </tr>
      <tr>

        <td>
          Study on Flow Characteristics and Sediment Removal Efficiency of a Deep-Depth Vortex Chamber Type Sediment Extractor11
        </td>
      </tr>

    </tbody>
  </table>

</div>
</body>
</html>
