
@{
  ViewBag.Title = "News";
  Layout = "~/Views/Shared/_DhoeLayout.cshtml";
}


<div class="container">
  <h2><span style="font-weight: bold;color:#31708f;">最新消息</span></h2>
  <table class="table">
    <tbody>
      @{
        int i = 1;
      }
      @foreach (var item in ViewData["NewsmList"] as List<M10.lib.modeldhoe.Newsm>)
      {
        { i++; }
        <tr class='@(i  % 2 == 0 ? "active" : "")'>
          <td>@item.date</td>
          <td><a target="_blank" href="@item.link">@item.title</a></td>
        </tr>
      }
    </tbody>
  </table>
</div>

