@charset "utf-8";


img {
  border: none;
}

#mid {
  zoom: 1;
  position: relative;
}

#linksRight {
  display: inline;
}

.menulist {
  overflow: visible;
}

.album_describe {
  width: 98%;
  margin: 0px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.rss {
  float: right;
}

  .rss img {
    border: 0px;
    padding: 2px;
  }

.album_item {
  /*border:dashed;*/
  width: 300px;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

  .album_item .album_cover {
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 6px 13px 13px 6px;
    background: url(../images/p_bg02.png) no-repeat;
    /*background: url(../images/p_bg02.png) no-repeat;*/    
  }

.album_info {
  PADDING: 0px 20px 5px;
  FONT-SIZE: 16px;
  WIDTH: auto;
  text-align: left;
}

  .album_info .album_info_title {
    margin: 2px;
    font-weight: bold;
    font-size: 15px;
  }

  .album_info .album_info_desc {
    margin: 2px;
    font-size: 12px;
    line-height: 14px;
    _line-height: 15px;
    overflow: hidden;
  }

.album_info_date {
  height: 12px;
  margin: 2px;
  line-height: 15px;
  font-family: "Georgia";
}

.album_info_count {
  height: 12px;
  margin: 2px;
  line-height: 15px;
  font-family: "Georgia";
}

.album_item .new_album {
  position: absolute;
  top: 5px;
  left: 6px;
  _left: 4px;
  *left: 4px;
}

.photo_item {
  width: 200px;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.photo_cover {
  text-align: center;
  border: 1px solid #999;
  padding: 5px;
  background: #efefef;
  max-height: 169px;
  max-width: 169px;
}

.photo_info {
  PADDING: 5px 10px;
  FONT-SIZE: 12px;
  WIDTH: auto;
  text-align: left;
}

  .photo_info .photo_info_title {
    margin: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
  }

  .photo_info .photo_info_desc {
    margin: 2px;
    font-size: 12px;
    line-height: 14px;
    _line-height: 15px;
    overflow: hidden;
  }

.inline-block {
  display: -moz-inline-box;
  display: inline-block;
}

* html .inline-block {
  display: inline;
}

*:first-child + html .inline-block {
  display: inline;
}

.titlename .nums {
  font-size: 12px;
  font-weight: bold;
}

#ad {
  margin-top: 310px;
  font-size: 15px;
  width: 755px;
  height: 60px;
  position: absolute;
  margin-left: 110px;
}

.personallink2 {
  overflow: hidden;
  height: 30px;
  margin: 2px auto 2px 40px;
}

  .personallink2 ul {
    margin: 2px;
    padding: 2px;
  }

  .personallink2 li {
    float: left;
    list-style: none;
    padding: 2px;
  }

.hotalbum_item {
  width: 125px;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

  .hotalbum_item .hotalbum_cover {
    text-align: center;
    border: 1px solid #999;
    padding: 5px;
    background: #efefef;
  }

.hotalbum_info {
  PADDING: 5px 10px;
  FONT-SIZE: 12px;
  WIDTH: auto;
}

  .hotalbum_info .hotalbuminfo_title {
    margin: 2px;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    overflow: hidden;
  }

.photo_mes_no {
  background: url(../images/4.png) no-repeat;
  width: 412px;
  height: 232px;
  margin: 0px auto;
}

.photo_mes_friend {
  background: url(../images/restrict_friend.png) no-repeat;
  width: 250px;
  height: 250px;
  margin: 0px auto;
}

.photo_mes_text {
  font-size: 18px;
  font-weight: bold;
}

span.counter li {
  list-style-position: inside;
}

.blogbody .list_area {
  width: 610px;
  margin: 10px auto;
}

.pages {
  text-align: center;
}

.page_list {
  display: inline;
}

.page_item {
  background: url(../images/blogIcon21_1.gif) right no-repeat;
  display: inline-block;
  padding: 5px 15px 5px 5px;
  *display: inline;
  *zoom: 1;
}

.page_end {
  background-image: none;
  padding-right: 5px;
}

.page_first {
  background: transparent url(../images/tool_icon.png) no-repeat 0 -1400px;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  text-indent: -1000px;
  vertical-align: middle;
  width: 24px;
  _height: 21px;
  *font-size: 0;
  *text-indent: 0;
}

  .page_first:hover {
    background: transparent url(../images/tool_icon.png) no-repeat 0 -1479px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-indent: -1000px;
    vertical-align: middle;
    width: 24px;
    _height: 21px;
    *font-size: 0;
    *text-indent: 0;
  }

.page_prev {
  background: transparent url(../images/tool_icon.png) no-repeat 0 -1440px;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  text-indent: -1000px;
  vertical-align: middle;
  width: 24px;
  _height: 21px;
  *font-size: 0;
  *text-indent: 0;
}

  .page_prev:hover {
    background: transparent url(../images/tool_icon.png) no-repeat 0 -1519px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-indent: -1000px;
    vertical-align: middle;
    width: 24px;
    _height: 21px;
    *font-size: 0;
    *text-indent: 0;
  }

.page_next {
  background: transparent url(../images/tool_icon.png) no-repeat 0 -1460px;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  text-indent: -1000px;
  vertical-align: middle;
  width: 24px;
  _height: 21px;
  *font-size: 0;
  *text-indent: 0;
}

  .page_next:hover {
    background: transparent url(../images/tool_icon.png) no-repeat 0 -1539px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-indent: -1000px;
    vertical-align: middle;
    width: 24px;
    _height: 21px;
    *font-size: 0;
    *text-indent: 0;
  }

.page_last {
  background: transparent url(../images/tool_icon.png) no-repeat 0 -1420px;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  text-indent: -1000px;
  vertical-align: middle;
  width: 24px;
  _height: 21px;
  *font-size: 0;
  *text-indent: 0;
}

  .page_last:hover {
    background: transparent url(../images/tool_icon.png) no-repeat 0 -1499px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-indent: -1000px;
    vertical-align: middle;
    width: 24px;
    _height: 21px;
    *font-size: 0;
    *text-indent: 0;
  }

.slidebtn {
  background: url(images/slidebtn.png) no-repeat 0 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 60px;
  height: 20px;
  float: right;
  margin: 5px;
  position: relative;
}

  .slidebtn:hover {
    background: url(images/slidebtn.png) no-repeat 0 -20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 60px;
    height: 20px;
    float: right;
    margin: 5px;
    position: relative;
  }

#sidebar-hotAlbum {
  width: 99%;
  display: block;
  text-align: center;
}

  #sidebar-hotAlbum .sidebar-hotAlbum-item {
    width: 135px;
    margin: 10px auto;
    line-height: 100%;
  }

  #sidebar-hotAlbum .sidebar-hotAlbum-cover {
    border: 3px solid #333;
    margin: 5px 0;
    height: 100px;
    width: 100px;
  }

  #sidebar-hotAlbum .sidebar-hotAlbum-today {
    display: none;
  }

  #sidebar-hotAlbum .sidebar-hotAlbum- total {
    display: none;
  }

.hotphoto {
  text-align: center;
}

#page {
  margin: 0 auto;
  width: 1024px;
  text-align: left;
}

#nav {
  text-align: center;
  padding: 0 1em;
}

#main #nav #birdview {
  float: left;
  text-align: left;
  width: 160px;
  margin-top: .4em;
  vertical-align: middle;
}

#main #nav #zoom {
  float: right;
  text-align: right;
  width: 160px;
  margin-top: .2em;
  vertical-align: middle;
}

#nav #zoom a.zoom {
  border: 1px outset #a9a9a9;
  padding: 2px 4px;
}

#main #nav #paginator {
  margin: 0 auto;
}

ul#breadcrumb {
  padding: 1em 0 1em 1em;
}

  ul#breadcrumb a {
    color: #0050f9;
    text-decoration: none;
  }

    ul#breadcrumb a:hover {
      text-decoration: underline;
    }

  ul#breadcrumb li {
    display: inline;
  }

#img_container {
  text-align: center;
  margin: 5px auto;
}

  #img_container .title {
    font-size: 1.2em;
    color: #090;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #img_container .desc {
    margin-bottom: 15px;
  }

#complain_dlg {
  text-align: left;
  line-height: 1.8em;
}

#bottom_left {
  margin-right: 190px;
}

#photostream .hd {
  background: url(images/title_bg.png);
}

  #photostream .hd img.bullet, #comments .hd img.bullet {
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
  }

#photostream .streams {
  width: 640px;
  margin: 5px auto;
}

#photostream .photo {
  width: 120px;
  height: 100px;
  margin-left: 10px;
  float: left;
}

  #photostream .photo.first {
    margin-left: 0;
  }

#comments .hd {
  background: url(images/title_bg.png);
}

#comments .comment {
  padding: 2px 0;
  margin-bottom: 2px;
  border-bottom: 1px dashed #ccc;
  color: #666;
  line-height: 20px;
}

  #comments .comment.even {
    border-bottom: 1px dashed #ccc;
    color: #666;
    line-height: 20px;
  }

  #comments .comment .user {
    float: left;
    width: 80px;
    padding: 3px;
  }

  #comments .comment .text {
    margin-left: 100px;
  }

    #comments .comment .text .meta {
      font-size: 13px;
      color: #666;
    }

      #comments .comment .text .meta a {
        text-decoration: none;
      }

        #comments .comment .text .meta a:hover {
          text-decoration: underline;
        }

      #comments .comment .text .meta .date {
        font-size: 12px;
        float: right;
        font-weight: bold;
        color: #888;
      }

#comments .editing .text p {
  margin-bottom: 5px;
}

.editing {
  margin-top: 10px;
}

#comments .comment .tool {
  text-align: right;
  padding-bottom: 2px;
}

#comments .reply-text {
  margin: 2px 2px 2px 100px;
  border: 1px dotted #ccc;
  background: #f7f7f7;
  padding: 5px;
}

  #comments .reply-text .reply {
    font-family: Monaco,'Courier New',courier,monospace;
    display: block;
    margin: 6px 0;
  }

#comments .comment .replied-comment {
  margin-left: 100px;
  border: 1px dotted #ccc;
  background: url(images/reply_head.png) #f7f7f7 no-repeat left top;
  padding: 5px 5px 2px 85px;
  min-height: 40px;
}

  #comments .comment .replied-comment .date {
    font-size: 12px;
    float: right;
    font-weight: bold;
    color: #888;
  }

  #comments .comment .replied-comment p {
    margin-right: 130px;
  }

  #comments .comment .replied-comment .bottom {
    margin-top: 1em;
    text-align: right;
  }

#comments .whisper {
  color: #c66;
  font-style: italic;
}

#editing-comment {
  width: 600px;
  font-size: 13px;
  font-family: Monaco,'Courier New',courier,monospace;
  display: block;
}

#bottomad {
  margin-top: 20px;
  margin-right: 190px;
  padding-top: 10px;
}

#property {
  margin-bottom: 3em;
}

#sidebar {
  width: 180px;
  float: right;
}

  #sidebar .sb-widget-hr {
    width: 180px;
    height: 12px;
    background: url(images/line_shadow.png) no-repeat;
  }

  #sidebar .sb-widget {
    margin: 1em 0;
  }

    #sidebar .sb-widget.first {
      margin-top: 0;
    }

.alignright {
  text-align: right;
}

.floatright {
  float: right;
}

.hide {
  display: none;
}

.editable {
  background: #ffd;
  cursor: pointer;
}

.placeholder {
  color: #808080;
  font-style: italic;
}

.clear {
  clear: both;
}

.clear_left {
  clear: left;
}

.xt-inline-block {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.xt-button {
  border: 0 none;
  margin: 0 0 2px 0;
  left: -2px;
  position: relative;
}

  .xt-button a {
    color: #000;
    text-decoration: none;
  }

.xt-button-outer {
  border-color: #bbb;
  border-style: solid;
  border-width: 1px 0;
  padding: 0;
  margin: 0;
}

.xt-focus-outer {
  border-color: #f00 !important;
}

.xt-focus-inner {
  border-color: #f00 !important;
}

.xt-button-inner {
  background: #e3e3e3;
  border-color: #bbb;
  border-style: solid;
  border-width: 0 1px;
  cursor: pointer;
  margin: 0 -1px;
  position: relative;
  padding: 0;
  *overflow: hidden;
  *left: -1px;
}

.xt-button-position {
  position: relative;
  height: 100%;
  display: block;
  _height: auto;
}

.xt-button-shadow {
  background: #f9f9f9;
  border-bottom: 0.2em solid #eee;
  height: 0.9em;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  _position: static;
  *line-height: 0.65em;
  *height: auto;
}

.xt-button-content {
  line-height: 1.8em;
  padding: 0 8px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  display: block;
  -moz-user-select: none;
  _line-height: 1.5em;
  _padding-top: 2px;
  _padding-bottom: 2px;
  _margin: -0.75em auto auto;
}

#photo-tools {
  margin: 0 auto;
  text-align: left;
}

#resize_button {
  border: none !important;
  padding: 0 !important;
}

ul#toolbar {
  text-align: right;
  margin: 5px 0;
  color: #808080;
}

  ul#toolbar li {
    display: inline;
    padding: 2px;
  }

    ul#toolbar li a {
      color: #0050f9;
      text-decoration: none;
    }

.picture-bd {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  border-width: 0;
}

.border-top {
  border-top: 1px solid #ccc;
  padding-top: 1px;
}

.xt-button-a {
  font-size: 0.8em;
}

#sidebar .sb-widget-p {
  margin: 0.2em 0;
}

#sidebar #exif-result {
  font-size: 13px;
}

#xuite_services_menu {
  position: absolute;
  background: white;
  border: 2px solid #808080;
  z-index: 1000;
}

  #xuite_services_menu ul {
    margin: 0;
    padding: 3px 5px;
    text-align: left;
  }

    #xuite_services_menu ul li {
      display: list-item;
      padding: 2px;
    }

      #xuite_services_menu ul li a {
        text-decoration: none;
      }

.pic-single-bg {
  background: url(images/photo_main_bg.png) repeat-x left top;
  z-index: 100;
}

.pic-orig-photo-div {
  text-align: center;
  margin: 0;
}

.pic-orig-d2f {
  width: 950px;
  margin: auto;
  text-align: left;
  padding: 0;
}

.picture-bd h2 {
  font-size: 18px;
  font-weight: normal;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}

.pic-orig-title {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em 0;
}

.pic-orig-url {
  background: #ffa;
  width: 530px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #f66;
  padding: 5px 10px;
  border-radius: 4px;
}

  .pic-orig-url #external {
    font-size: 15px;
    color: #333;
  }

    .pic-orig-url #external p {
      margin-bottom: 10px;
    }

    .pic-orig-url #external #external_url, .pic-orig-url #external #external_html {
      width: 500px;
      padding: 2px 5px;
      border: 1px solid #666;
      font: 14px/140% Helvetica,Arial,'LiHei Pro',"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",sans-serif;
      color: #898989;
      word-break: break-all;
    }

    .pic-orig-url #external #external_html {
      height: 38px;
      line-height: 19px;
    }

.sizes-a, .sizes-a:visited {
  color: #0050f9;
  text-decoration: none;
}

  .sizes-a:hover {
    text-decoration: underline;
  }

#hd #banner_ad {
  float: right;
  width: 756px;
}

ul#sizes {
  margin: 1em 0;
}

  ul#sizes li {
    display: inline;
    padding: 4px 8px;
    border-left: 1px solid #808080;
  }

    ul#sizes li.first {
      border: none;
    }

    ul#sizes li.sel {
      background: #efefef;
    }

.floatleft {
  float: left;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.pic-orig-desc {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

#buttomad {
  margin-top: 2em;
  text-align: center;
}

#xuite-services-menu {
  position: absolute;
  background: white;
  border: 2px solid #808080;
  z-index: 1000;
}

  #xuite-services-menu ul {
    margin: 0;
    padding: 3px 5px;
    text-align: left;
  }

    #xuite-services-menu ul li {
      display: list-item;
      padding: 2px;
    }

      #xuite-services-menu ul li a {
        text-decoration: none;
      }

#tag_cloud_more_button {
  color: #333;
  display: block;
}

  #tag_cloud_more_button:hover {
    color: #999;
  }

.titledate {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

  .titledate span {
    float: left;
    display: block;
    vertical-align: middle;
  }

.titledate-day {
  margin-right: 4px;
}

.titledate-year:after, .titledate-month:after {
  content: "-";
}

.titledate-hour:after {
  content: ":";
}

.page {
  height: 22px;
  margin: 5px;
  font-size: 14px;
  font-family: "微軟正黑體";
  line-height: 22px;
  vertical-align: top;
  text-align: center;
  clear: both;
  margin: 10px 0;
}

  .page a {
    padding: 2px 4px;
    border: 1px solid #ccc;
    color: #03c;
    margin: 0 4px;
    line-height: 22px;
    border-radius: 2px;
    vertical-align: top;
  }

    .page a:hover {
      background: #f0f0f0;
      border: 1px solid #ccc;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

  .page font {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 0 4px;
    font-weight: bold;
    line-height: 22px;
    border-radius: 2px;
    vertical-align: top;
  }

  .page #nav-next, .page #nav-last, .page #nav-first, .page #nav-prev {
    height: 22px;
    padding: 0 4px;
    margin: 0 1px;
    overflow: hidden;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

    .page #nav-next, .page #nav-last, .page #nav-first, .page #nav-prev:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
