@{
  ViewBag.Title = "降雨已達崩塌警戒即時地圖資料";
  Layout = "~/Views/Shared/_WarnLayout.cshtml";
}

@section Styles {
  <style type="text/css">
      body, html {
        height: 100%;
        width: 100%;
      }
      /*html, body {
              height: 100%;
              display: flex;
              margin: 0;
              padding: 0;
            }*/

      #map {
        /*width: 100%; height: 100%;*/
        height: 700px;
        background: black;
      }

      /*.col-centered {
              float: none;
              margin: 0 auto;
            }*/
  </style>
}

<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      降雨已達崩塌警戒即時地圖資料 <small>預報時間：@ViewBag.forecastdate</small>
    </h1>
  </div>
</div>
<div id="map" style="width:100%;" @*style="height:600px;"*@></div>
<div class="container-fluid">
  <div class="row">
    <div class="col col-centered">

    </div>
  </div>
</div>

<script type="text/javascript">

  var map;
  var infowindow;
  var markers = [];

  function initMap() {
    //地圖初始化
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 23.7825, lng: 121.019 },
      zoom: 7
      , zoomControl: true
    });

    //資訊室窗初始化
    infowindow = new google.maps.InfoWindow();
    @*//地圖集合
    var marker_config = [];
    //範圍集合
    var triangleCoords = [];

    //取得地圖資料
    $.ajax({
      type: 'GET',
      url: '@Url.Action("getalertlrti", "mapapi")',
      dataType: 'JSON',
      async: false,   // 先把這隻js執行完後，再跑下面的程式，如果不寫此參數，jQuery預設AJAX為異步執行
      success: function (response) {
        response.forEach(function (data, i) {
          var itemPs = {};
          itemPs["lat"] = Number(data.lat);
          itemPs["lng"] = Number(data.lon);
          triangleCoords.push(itemPs);

          var item = {};
          item["position"] = itemPs;
          item["map"] = map;
          item["STID"] = data.STID;
          item["country"] = data.country;
          item["town"] = data.town;
          item["village"] = data.village;
          item["status"] = data.status;
          item["HOUR1"] = data.HOUR1;
          item["HOUR2"] = data.HOUR2;
          item["HOUR3"] = data.HOUR3;
          item["LRTI"] = data.LRTI;
          item["ELRTI"] = data.ELRTI;
          marker_config.push(item);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('error');
      },
    });

    //標出 marker，如果使用 .setMap(null) 就可以清除該 marker
    marker_config.forEach(function (e, i) {
      //點選出現資訊視窗
      //var contentString = '<h2>網頁內容</h2><br/>' + e.title; //要顯示的 HTML 內容
      var contentString = ''; //要顯示的 HTML 內容
      contentString += '<div style="weight: 400px;" >';
      contentString += '<h5><span style="font-weight: bold; color: #31708f;">(' + e.STID + ')雨量警戒資料&nbsp;發布狀態：[<span style="font-weight: bold; color: #dd4b39;">' + e.status + '</span>]</span></h5>';
      contentString += '<table class="table" style="weight: 400px;">';
      contentString += '<tbody>';
      contentString += '<tr class="active">';
      contentString += '<td>站點：' + e.STID + '</td>';
      contentString += '</tr>';
      contentString += '<tr >';
      contentString += '<td>警戒區範圍：' + e.country + e.town + e.village + '</td>';
      contentString += '</tr>';
      contentString += '<tr class="active">';
      contentString += '<td>1hr：' + e.HOUR1 + '&nbsp;&nbsp;&nbsp;2hr：' + e.HOUR2 + '&nbsp;&nbsp;&nbsp;3hr： ' + e.HOUR3 + ' </td>';
      contentString += '</tr>';
      contentString += '<tr >';
      contentString += '<td>LRTI：' + e.LRTI + '&nbsp;&nbsp;&nbsp;警戒LRTI：' + e.ELRTI + '</td>';
      contentString += '</tr>';
      contentString += '<tr class="active">';
      contentString += '<td>崩塌發布狀態：' + e.status + '</td>';
      contentString += '</tr>';
      contentString += '</tbody></table></div>';


      markers[i] = new google.maps.Marker(e);
      markers[i].addListener('click', function () {
        infowindow.setContent(contentString);
        infowindow.open(map, markers[i]); //設定點選 marker 打開資訊視窗事件
      });
      markers[i].setMap(map);
    });*@


    //地圖資料
    var polyDataList = [];
    //點位資料
    var polyList = [];

    //取得地圖資料
    $.ajax({
      type: 'GET',
      url: '@Url.Action("getMapDatas", "mapapi")',
      dataType: 'JSON',
      async: false,   // 先把這隻js執行完後，再跑下面的程式，如果不寫此參數，jQuery預設AJAX為異步執行
      success: function (response) {
        response.forEach(function (data, i) {
          //建立地圖資料
          var item = {};
          item["relano"] = data.relano;
          item["STID"] = data.STID;
          item["country"] = data.country;
          item["town"] = data.town;
          item["village"] = data.village;
          item["status"] = data.status;
          item["HOUR1"] = data.HOUR1;
          item["HOUR2"] = data.HOUR2;
          item["HOUR3"] = data.HOUR3;
          item["LRTI"] = data.LRTI;
          item["ELRTI"] = data.ELRTI;

          polyDataList.push(item);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('error');
      },
    });

    //取得點位資料
    $.ajax({
      type: 'GET',
      url: '@Url.Action("getCoordinate", "mapapi")',
      dataType: 'JSON',
      async: false,   // 先把這隻js執行完後，再跑下面的程式，如果不寫此參數，jQuery預設AJAX為異步執行
      success: function (response) {
        response.forEach(function (data, i) {
          //建立地圖資料
          var item = {};
          item["relano"] = data.relano;
          item["lat"] = data.lat;
          item["lng"] = data.lng;

          polyList.push(item);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('error');
      },
    });

    try {      
      polyDataList.forEach(function (e, i) {
        //點選出現資訊視窗
        var contentString = ''; //要顯示的 HTML 內容
        contentString += '<div style="weight: 400px;" >';
        contentString += '<h5><span style="font-weight: bold; color: #31708f;">(' + e.STID + ')雨量警戒資料&nbsp;發布狀態：[<span style="font-weight: bold; color: #dd4b39;">' + e.status + '</span>]</span></h5>';
        contentString += '<table class="table" style="weight: 400px;">';
        contentString += '<tbody>';
        contentString += '<tr class="active">';
        contentString += '<td>站點：' + e.STID + '</td>';
        contentString += '</tr>';
        contentString += '<tr >';
        contentString += '<td>警戒區範圍：' + e.country + e.town + e.village + '</td>';
        contentString += '</tr>';
        contentString += '<tr class="active">';
        contentString += '<td>1hr：' + e.HOUR1 + '&nbsp;&nbsp;&nbsp;2hr：' + e.HOUR2 + '&nbsp;&nbsp;&nbsp;3hr： ' + e.HOUR3 + ' </td>';
        contentString += '</tr>';
        contentString += '<tr >';
        contentString += '<td>LRTI：' + e.LRTI + '&nbsp;&nbsp;&nbsp;警戒LRTI：' + e.ELRTI + '</td>';
        contentString += '</tr>';
        contentString += '<tr class="active">';
        contentString += '<td>崩塌發布狀態：' + e.status + '</td>';
        contentString += '</tr>';
        contentString += '</tbody></table></div>';

        //點位集合
        var triangleCoords1 = [];
        polyList.forEach(function (ee, ii) {
          if (e.relano == ee.relano) {
            var point = new google.maps.LatLng(parseFloat(ee.lat), parseFloat(ee.lng));
            triangleCoords1.push(point);
          }
        });

        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords1,
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          name: e.STID
        });

        bermudaTriangle.addListener('click', function (event) {
          infowindow.setContent(contentString);
          infowindow.setPosition(event.latLng);
          infowindow.open(map); //設定點選 marker 打開資訊視窗事件
        });
        bermudaTriangle.setMap(map);
    
      });
    }
    catch (err) {
      //document.getElementById("demo").innerHTML = err.message;
    }
  }


  function myrefresh() {
    initMap();
    //window.location.reload();
    //$("#btnQuery").click();
  }

  $(function () {
    setInterval(myrefresh, 20 * 60 * 1000); //指定20分刷新一次
  });
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAvbrBg_2x0ke4k3Zy6KQtd6wccUr-P9c&callback=initMap">
</script>
