
@{
    ViewBag.Title = "PhotoDF";
    Layout = "~/Views/Shared/_DhoeLayout.cshtml";
}


<link rel="stylesheet" href="~/Content/fix.css" />
<style>
    A.album_info_title_hy:link {
      color: #936f4a;
      text-decoration: none;
    }

    A.album_info_title_hy:visited {
      color: #936f4a;
      text-decoration: none;
    }

    .breadcrumb > li + li:before {
      color: #CCCCCC;
      content: "/ ";
      padding: 0 5px;
    }
    /*.fix_png {
              color: #936f4a;
              background: url(../images/p_bg02.png) no-repeat;
            }*/
</style>

<div class="container">

  <h2><span style="font-weight: bold;color:#31708f;">Albums</span></h2>

  @*<img src="~/images/Professor.jpg" alt="Alternate Tex" />*@

  @Html.Raw(@ViewBag.test)


</div>


